/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
    overflow-x: hidden;
}

header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: white;
}

.jumbotron {
  background-color: #fd5c63;
  color: white;
}

.navbar {
  width: 100%;
    margin-bottom: 0px;

}

.container {

  margin-left: 40%;
  margin-right: 0px;
}


.navbar-nav {
  float: right;
}
